/* Vote count */
button[aria-label="upvote"] + div {
	display: none;
}

/* Downvote button */
button[aria-label="downvote"] {
	display: none;
}

/* Comment count */
a[data-click-id="comments"] span {
	display: none;
}
