/* Upvote button and count */
button[aria-label="upvote"] + div {
	display: none;
}

/* Downvote button */
button[aria-label="downvote"] {
	display: none;
}

/* Comment count */
.icon.icon-comment + span {
	display: none;
}
