/* View count below main video. */
ytd-video-view-count-renderer {
    display: none !important;
}
.ytd-video-primary-info-renderer#dot {
	display: none; /* Remove the now leading dot next to the date. */
}

/* View counts on homepage, in related videos and in history. */
#metadata-line.ytd-video-meta-block span.ytd-video-meta-block:first-of-type {
    display: none !important;
}
ytd-video-meta-block:not(.grid):not(.compact).byline-separated #separator.ytd-video-meta-block {
	display: none !important; /* Remove the now trailing dot next to the channel name in history. */
}

/* View count on channel page. */
#metadata-line.ytd-grid-video-renderer span.ytd-grid-video-renderer:first-of-type {
	display: none;
}

/* Subscriber count below main video. */
#owner-sub-count {
	display: none;
}
#top-row.ytd-video-secondary-info-renderer {
	margin-bottom: 0 !important; /* Remove a now awkward space between the channel name and description. */
}

/* Subscriber count on channel page. */
#subscriber-count {
	display: none;
}

/* Like/Dislike buttons and text. */
ytd-toggle-button-renderer.force-icon-button a.ytd-toggle-button-renderer {
	display: none !important;
}

/* Like/Dislike sentiment bar. */
ytd-sentiment-bar-renderer#sentiment {
    display: none;
}

/* Comments section. */
#comments {
    display: none;
}

/* Live chat. */
#chat {
	display: none;
}
