/* Dark mode wikipedia for Vector 2022 skin. */

:root {
    --text-color: #c1c1c1;
    --bg-color: #0f0f0f;
    --boxed-content-bg: #272727;
    --navbox-yang-bg: #303030;
    --infobox-header-bg: #3c313c;
    --table-header-bg: #3f3f3f;
    --hyperlink-color: #2eb6ef;
    --border-color: #5f5f5f;
    --padding-for-removed-borders: 0.5em;
}

.mw-page-container,
body {
    background-color: var(--bg-color);
}

a {
    color: var(--hyperlink-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color) !important;
}

/* Code blocks */
pre, code, .mw-code {
    background-color: #000 !important;
    color: #FFF !important;
}

/* Math fallback images */
.mwe-math-fallback-image-inline {
    filter: invert(100%);
}

/* Popups */
.mwe-popups-container {
    background-color: var(--boxed-content-bg) !important;
    color: var(--text-color) !important;
}

.mwe-popups-extract {
    color: var(--text-color) !important;
}

/* Weird gradient at bottom of popups */
.mwe-popups .mwe-popups-extract[dir="ltr"]:after {
    background: none !important;
}

.infobox {
    background-color: var(--boxed-content-bg);
    color: var(--text-color);
    border: none;
}

/* Infobox header */
.infobox-above,
.infobox-header {
    background-color: var(--infobox-header-bg) !important;
}

/* Image blocks */
div.thumbinner {
    background-color: var(--boxed-content-bg);
    border: none;
    padding: var(--padding-for-removed-borders);
}

div.thumb {
    background-color: var(--boxed-content-bg) !important;
}

/* Images inside image blocks */
div.thumbinner img {
    border: none;
}

/* Quote box */
.quotebox {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

/* Tables and timelines */
.wikitable {
    background-color: var(--boxed-content-bg);
    color: var(--text-color);
    border: none;
}

/* Table headers */
.wikitable:not(.release-timeline) th /* excludes timelines */ {
    background-color: var(--table-header-bg) !important;
}

.wikitable caption {
    color: var(--text-color);
}

.wikitable > tr > th,
.wikitable > tr > td,
.wikitable > * > tr > th,
.wikitable > * > tr > td {
    border-color: var(--border-color) !important;
}

/* Review table */
.video-game-reviews caption {
    background-color: var(--table-header-bg) !important;
    border-color: var(--border-color) !important;
}

/* Tracklist */
.tracklist tr:nth-child(2n-1) {
	background-color: var(--navbox-yang-bg) !important;
}

.tracklist tr {
	background-color: var(--boxed-content-bg) !important;
}

.tracklist th[scope="col"] {
	background-color: unset !important;
}

/* Side notice box */
.side-box {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

/* Ambox */
.ambox {
    background-color: var(--table-header-bg) !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

/* Navbox */
.navbox {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

.navbox-title {
    background-color: var(--infobox-header-bg) !important;
}

.navbox-group {
    background-color: var(--infobox-header-bg) !important;
    border-color: var(--border-color) !important;
}

.navbox-list {
    background-color: var(--boxed-content-bg) !important;
    border-color: var(--border-color) !important;
}

.navbox-odd {
    background-color: var(--navbox-yang-bg) !important;
}

.navbox-abovebelow {
    background-color: var(--infobox-header-bg) !important;
}

/* Message box */
.mw-message-box {
    background-color: var(--table-header-bg) !important;
    border: none !important;
    color: var(--text-color) !important;
}

/* Portal bar */
.portal-bar {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

/* Portal box */
.portalbox {
	background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

/* Sidebar */
.sidebar {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

.sidebar-list-title {
	background-color: var(--infobox-header-bg) !important;
}

/* Footer */
.mw-footer li {
    color: var(--text-color) !important;
}

/* Categories */
.catlinks {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

/* Table of contents */
.vector-toc {
    background-color: var(--boxed-content-bg) !important;
}

/* This doesn't cover every type of link but their style has a list of like 20 exceptions so let's keep it simple here */
.vector-toc-link {
    color: var(--hyperlink-color) !important;
}

/* Remove whatever this gradient is at the bottom of the toc */
@media screen and (min-width: 1000px) {
    .vector-toc-pinned #vector-toc-pinned-container .vector-toc:after {
        background: none !important;
    }
}

/* Header */
.mw-header {
    background-color: var(--table-header-bg) !important;
}

.vector-sticky-header {
    background-color: var(--table-header-bg) !important;
    color: var(--text-color) !important;
    border: none !important;
}

/* Toolbar */
.vector-page-toolbar-container {
    box-shadow: 0 1px var(--border-color);
}

.vector-menu-tabs .mw-list-item.selected a,
.vector-menu-tabs .mw-list-item.selected a:visited {
    color: var(--text-color) !important;
}

/* Side menu */
.vector-main-menu {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
}

.vector-menu-heading-label,
.vector-main-menu-action-heading {
    color: var(--text-color) !important;
}

.vector-main-menu a,
.wb-langlinks-link a {
    color: var(--hyperlink-color) !important;
}

/* Dropwdown menus */
.vector-menu-content.vector-dropdown-content {
    background-color: var(--table-header-bg) !important;
    color: var(--text-color) !important;
    border: none !important;
}

/* Weird gradient at bottom of tools menu when it's not a dropdown */
#vector-page-tools-pinned-container .vector-page-tools:after {
    background: none !important;
}

/* Main page */
.mp-box {
    background-color: var(--boxed-content-bg) !important;
    border: none !important;
    padding: var(--padding-for-removed-borders) !important;
}

.mp-h2 {
    background-color: var(--infobox-header-bg) !important;
    border: none !important;
}

/* Editing page */
#wpTextbox1 {
    background-color: #000 !important;
    color: #FFF !important;
}

.editOptions {
    background-color: var(--boxed-content-bg) !important;
    color: var(--text-color) !important;
}

.wikiEditor-ui-toolbar {
    background-color: var(--boxed-content-bg) !important;
}

.wikiEditor-ui-toolbar * {
    filter: invert(1) hue-rotate(180deg);
}
