/* Space between view count and date below main video */
#info-container #info>span:nth-child(2) {
    display: none;
}

/* Trailing dot on homepage and search */
#metadata-line .ytd-video-meta-block:nth-of-type(2)::before {
    display: none !important;
}

/* Trailing dot in history and playlists */
ytd-video-meta-block:not(.grid):not(.compact).byline-separated #separator.ytd-video-meta-block {
    display: none !important;
}

/* Space between channel name and trailing dot in playlists */
ytd-playlist-video-renderer ytd-video-meta-block yt-formatted-string#video-info span:nth-child(2) {
    margin: 0 4px !important;
    
}

/* Trailing dot on view count on channel page */
#metadata-line .ytd-grid-video-renderer:nth-of-type(2)::before {
    display: none !important;
    
}

/* Subscriber count below main video */
#upload-info #owner-sub-count {
    display: none;
}

/* Subscriber count on channel page */
#subscriber-count {
    display: none;
}

/* Subscriber count in expanded description */
ytd-video-description-infocards-section-renderer #subtitle {
    display: none !important;
}

/* Trailing dot on subscribers in search results */
#main-link #dot {
    display: none;   
}

/* Like/Dislike buttons */
segmented-like-dislike-button-view-model {
    display: none !important;
}

#top-level-buttons-computed>ytd-button-renderer:nth-child(2) {
    margin-left: 0;
    /* remove space next to share button */
}

/* Play next button */
.ytp-left-controls .ytp-next-button {
	display: none;
}

/* End screen */
.videowall-endscreen {
    display: none;
}

/* Comments section */
#comments {
    display: none;
}

/* Comment teaser */
#comment-teaser {
    display: none;
}

/* Live chat */
#chat {
    display: none;
}
/* The space left by the chat window in theatre mode */
ytd-watch-flexy #full-bleed-container #panels-full-bleed-container {
    display: none;
}

/* Fix content space overflowing horizontally when the page's width starts getting small. */
html {
    overflow-x: hidden !important;
}
